client_max_body_size size
error_page 403 www/error_page_403.html
error_page 404 www/error_page_404.html
error_page 500 www/error_page_500.html



server {
	client_max_body_size 12;
	listen 8080 8081
	server_name localhost

	disable_methods PUT DELETE

	max_client_body_size 10;
	cgi_dir www/cgi-bin/

	error_page 403 www/error_page_403.html
	error_page 404 www/error_page_404.html
	error_page 500 www/error_page_500.html

	uploads www/uploads


	location /includes {
		return 301 www.new-name.com$request_uri;
		client_max_body_size size
		error_page 404 none
		root incs/

	}

	location /delete {
		root www/uploads/
		disable_methods PUT
	}

	location /put {
		root www/uploads/
		auth_basic off
		disable_methods DELETE
	}

	location /sources/bonsoir {
		auth_basic off
		autoindex on
		root srcs/
	}

	location /dir {
		index index.html;
		root srcs/
	}

	location /noget {
		disable_methods GET
		root www/
	}

	location /nonothing {
		disable_methods GET HEAD TRACE PUT DELETE CONNECT OPTIONS POST
		root www/
	}

	location /admin {
		index index.php
		disable_methods HEAD TRACE PUT DELETE CONNECT OPTIONS POST
		root www/
	}

	location / {
		auth_basic off
		index index.php
		root www/
	}
}