client_max_body_size 12
error_page 403 www/error_page_403.html
error_page 404 www/error_page_404.html
error_page 500 www/error_page_501.html

server {
	client_max_body_size 12

	listen 127.0.0.1:1208


	server_name localhost
	root 		/

	error_page 403 www/error_page_403.html
	error_page 404 www/error_page_404.html
	error_page 500 www/error_page_500.html


	location / {
		root /home/user42/42/projets/webserv_Gdupont
		autoindex on
		upload_pass /
		error_page 404 documentation
		cgi_ext .jpg .php 
		cgi_dir /usr/bin/php-cgi
	}
}