client_max_body_size 12
error_page 403 www/error_page_403.html
error_page 404 www/error_page_404.html
error_page 500 www/error_page_501.html

server {
	listen 0.0.0.0:1203
	listen 127.0.0.3:1207

}

server {
	client_max_body_size 12

	listen 127.0.0.3:1204
	listen 127.0.0.3:1205
	listen 127.0.0.3:1206


	server_name localhost
	root 		/lala/

	error_page 403 www/error_page_403.html
	error_page 404 www/error_page_404.html
	error_page 500 www/error_page_500.html


	location /includes {
		return 301 www.new-name.com$request_uri
		return 302 www.new-name.com$request_uri
		client_max_body_size 24
		error_page 404 none
	}

	location /delete {
		root /www/uploads/
		disable_methods POST
	}

	location /put {
		root www/uploads/
		disable_methods DELETE
	}

	location /sources/bonsoir {
		autoindex on
		root srcs/
	}

	location /dir {
		index index.html
		root srcs/
	}

	location /noget {
		disable_methods GET
		root /mnt/nfs/homes/gdupont/Desktop/webserv
	}

	location /nonothing/lala {
		disable_methods GET DELETE 
		root www/
	}

	location /nonothing {
		disable_methods GET  DELETE 
		root www/
	}

	location /webserv {
		root /mnt/nfs/homes/gdupont/Desktop/webserv
		autoindex on
	}

	location /admin {
		index index.php
		disable_methods POST POST
		root www/
	}

	location / {
		root /mnt/nfs/homes/gdupont/Desktop/webserv
		autoindex on
		upload_pass /lalala
		error_page 404 error_page_ma_bite.html
		cgi_ext .jpg
	}
	client_max_body_size 24
}
