client_max_body_size 12
error_page 403 www/error_page_403.html
error_page 404 www/error_page_404.html
error_page 500 www/error_page_501.html

server {

	listen 127.0.0.1:1777

}


server {

	server_name no_root
	listen 127.0.0.1:1210

}


server {
	client_max_body_size 12


	listen 127.0.0.1:1206
	listen 127.0.0.1:1207
	listen 127.0.0.1:1208
	listen 127.0.0.1:1209

	listen 127.0.0.1:1210


	server_name localhost
	root 		/lala/

	error_page 403 www/error_page_403.html
	error_page 404 www/error_page_404.html
	error_page 500 www/error_page_500.html


	location / {
		root /mnt/nfs/homes/gdupont/Desktop/webserv
		autoindex on
		upload_pass /documentation
		error_page 404 documentation
		cgi_ext .jpg .php 
		cgi_dir /mnt/nfs/homes/gdupont/bin/perl
	}
	client_max_body_size 24
}



