client_max_body_size 12
error_page 403 www/error_page_403.html
error_page 404 www/error_page_404.html
error_page 500 www/error_page_501.html


server {
	client_max_body_size 12

	listen 80
	listen 8080
	listen 1205
	


	server_name localhost
	location / {
		root /webserv/
		autoindex on
		upload_pass /documentation
		error_page 404 documentation
		cgi_ext .php
		cgi_dir /usr/bin/php-cgi
	}
	client_max_body_size 24
}



