client_max_body_size 12
error_page 404 /mnt/nfs/homes/gdupont/Desktop/webserv/www/error_pages/error_page_404.html



server {
	client_max_body_size 12

	listen 127.0.0.1:1208
	listen 127.0.0.2:1208
	listen 127.0.0.1:1209


	server_name localhost
	root	/mnt/nfs/homes/gdupont/Desktop/webserv

	error_page 403 /mnt/nfs/homes/gdupont/Desktop/webserv/www/error_pages/error_page_403.html


	location / {
		root /mnt/nfs/homes/gdupont/Desktop/webserv/www/

		autoindex on

		upload_pass /updload
		
		error_page 404 www/error_page_404.html


 
		cgi_dir /mnt/nfs/homes/gdupont/bin/perl
	}
	
	location /get_not_allowed {
		disable_methods GET
		error_page 405 /mnt/nfs/homes/gdupont/Desktop/webserv/www/error_pages/error_page_405.html

		

	}

	location /autoindex_disallowed {

		autoindex off

	}

	location /other_root {
		autoindex on
		root  /mnt/nfs/homes/gdupont/Desktop/webserv
	
	}

	client_max_body_size 24
}

server {

	listen 127.0.0.10:1208

}
