
error_page 404 /mnt/nfs/homes/gdupont/Desktop/webserv/www/error_pages/error_page_404.html
root /mnt/nfs/homes/gdupont/Desktop/webserv/www/
server {
	client_max_body_size 1200000000


	listen 127.0.0.1:1208
	listen 127.0.0.2:1208
	listen 127.0.0.1:1209


	server_name localhost

	error_page 403 /mnt/nfs/homes/gdupont/Desktop/webserv/www/error_pages/error_page_403.html


	location / {
		root /mnt/nfs/homes/gdupont/Desktop/webserv/www/
		autoindex on
		upload_pass /upload
		error_page 404 www/error_page_404.html
	}
	
	location /upload {
		root /mnt/nfs/homes/gdupont/Desktop/webserv/www/upload
		autoindex on
	}

	location /get_not_allowed {
		disable_methods GET
	}

	location /42green {
		root /mnt/nfs/homes/gdupont/Desktop/webserv/www/42green
		index 42green.html
		autoindex on
	}

	location /42green_return {
		return 301 42green
	}

	location /autoindex_disallowed {
		root /mnt/nfs/homes/gdupont/Desktop/webserv/www/autoindex_disallowed
		autoindex off
	}

	location /other_root {
		autoindex on
		root  /mnt/nfs/homes/gdupont/Desktop/webserv
	}

	location /Ananas {
		autoindex on
		root  /mnt/nfs/homes/gdupont/Desktop/webserv/www/Ananas
	}

	location /cgi {
		root  /mnt/nfs/homes/gdupont/Desktop/webserv/www/cgi
		autoindex on
		cgi_dir /usr/bin/php-cgi
		cgi_ext .php
	}

}

server {

	listen 127.0.0.10:1208

}
